.btn-ghost {
  color: #E07A5F;
  border: 1px solid #E07A5F;
  font-weight: 400;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 16px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #D8431D;
  font-weight: 600;
}

.btn-flat {
  color: #F8F8F2;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E07A5F;
  transition: background 0.3s ease;
  // box-shadow: 3px 3px 5px #D8431D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
  font-size: 16px;
}

.btn-flat:hover {
  background: #D8431D;
  color: white;
}
