.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 32px;
}

.card-product {
  overflow: hidden;
  background: #F8F8F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
  margin-top: 32PX;
}

.card-product img {
  height: 160px;
  width: 320px;
  object-fit: contain;
}

.card-product h5 {
  font-weight: bold;
  margin: 0;
  color: #E0A85E;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-product a {
  width: 100%;
  text-align: center;
}

.card-content {
  justify-content: left;
  align-items: start;
  margin-top: 16px;
}

.card-product_book {
  overflow: hidden;
  background: #F8F8F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  padding: 16px;
  width: 500px;
}

.card-product_book_content a{
  width: 100%;
}

.card-product_book_content {
  width: 100%;
}

.card-review {
  overflow: hidden;
  background: #F8F8F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items:start;
  border-radius: 8px;
  flex-direction: column;
  padding: 16px;
  margin-top: 16PX;
  display:inline-block;

}

.book-detail {
  gap: 32px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  margin-top: 24px;
 }

 .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px;
 }

