.container{
  margin-top: 20px;
  // background-color: #F8f8f2;
  width: 100%
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;

}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E07A5F;
  border-radius: 25px;
  color: #F8F8F2
}

.search-form-control .form-control:focus {
  border: 2px solid #E07A5F;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color: #F8F8F2
}

.btn-flat {
  color: #F8F8F2;
  padding: 8px 24px;
  border-radius: 5px;
  background: #E07A5F;
  transition: background 0.3s ease;
  // box-shadow: 3px 3px 5px #D8431D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 12px

}
.btn-flat:hover {
  background: #D8431D;
  color: white;
}

.form-control string required {
  background-color: #F8F8F2;
}
