/* General Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  background-color: #F5F5DC; /* Beige background */
  padding: 10px 20px;
}

.tap-bar {
  display: flex;
  align-items: center;
}

.tabs-underlined {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align tabs in a row */
  gap: 20px; /* Space between tabs */
}

.tabs-underlined li {
  display: inline;
}

.tab-underlined {
  text-decoration: none;
  padding: 10px 15px;
  color: black; /* Font color */
  font-size: 16px;
  font-weight: normal;
  transition: color 0.3s, border-bottom 0.3s;
}

.tab-underlined.active {
  font-weight: normal;
  color: #0f0f0f; /* Brown for active tab */
  border-bottom: 3px solid #E07A5F; /* Underline for active tab */
}

.tab-underlined:hover {
  color: #D8431D;
  font-weight: 600;/* Hover effect color */
}
