<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <p><%= link_to "Back to #{@book.title}", book_path(@book) %></p>
      <h4>Add a new review </h4>
      <%= simple_form_for [@book, @review] do |f| %>
      <%= f.input :content, placeholder: "Enter your review here", as: :text, input_html: { rows: "10" }, input_html: { class: "custom-form-input" } %>
      <%= f.submit class: "btn btn-flat" %>
    <% end %>
    </div>
  </div>
</div>
